.home-container {
    background-color: rgb(241, 241, 241);
    margin: auto auto;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
P{
    text-align: center;
    font-size: 20PX;
}